In [3]:
import pandas as pd

In [4]:
#import pandas
import pandas as pd

In [5]:
#load date
budgetdf = pd.read_csv("budget.csv")

In [6]:
budgetdf.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [7]:
#check data type
budgetdf.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [8]:
budgetdf = pd.read_csv("budget.csv", parse_dates=["Date"])
budgetdf["Date"] = budgetdf["Date"].dt.to_period(freq = "M")
budgetdf.head(10)

      Date  Profit/Losses
0  2010-01         867884
1  2010-02         984655
2  2010-03         322013
3  2010-04         -69417
4  2010-05         310503
5  2010-06         522857
6  2010-07        1033096
7  2010-08         604885
8  2010-09        -216386
9  2010-10         477532

In [9]:
#check data type
budgetdf.dtypes

Date             period[M]
Profit/Losses        int64
dtype: object

In [10]:
#aggregate sales
budgetdf = budgetdf.groupby(by=["Date"]).sum()

In [11]:
budgetdf

         Profit/Losses
Date
2010-01         867884
2010-02         984655
2010-03         322013
2010-04         -69417
2010-05         310503
...                ...
2016-10         102685
2016-11         795914
2016-12          60988
2017-01         138230
2017-02         671099

[86 rows x 1 columns]

In [12]:
#summary stats
budgetdf.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [14]:
#finding how many months
budgetdf.shape[0]

86

In [19]:
#getting the sum
budgetdf.sum()

Profit/Losses    38382578
dtype: int64